/* happy-monkey-regular - latin */
@font-face {
  font-family: "Happy Monkey";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../assets/happy-monkey-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/happy-monkey-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Happy Monkey", Arial, Helvetica, sans-serif;
  /* background-color: lightblue; */
  background: linear-gradient(#f93a3a, #b3c73e);
}
:root {
  --content-background: rgba(255, 255, 252, 0.666);
  --tag-background: lightgray;
}
.title {
  margin: 0.6rem;
  padding: 0.6rem;
  font-style: italic;
}
.descriptionTop {
  width: 80%;
  padding: 0.8rem 0.4rem;
  margin: auto;
  font-size: 1.2rem;
}
.content {
  display: grid;
  padding: 1rem;
}
.page {
  display: grid;
  width: 100%;
  margin: auto;
  background-color: rgb(85, 22, 22);
  color: goldenrod;
  padding: 2rem;
  border-radius: 10%;
  border: 5px solid black;
}

.gamingPage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  margin: auto;
  background-color: rgb(85, 22, 22);
  color: goldenrod;
  padding: 1rem;
  border-radius: 10%;
  border: 5px solid black;
}
.playerContainer {
  background-color: rgba(195, 179, 179, 0.19);
  width: 100%;
  border: 3px solid goldenrod;
  border-radius: 1rem;
  padding: 0.8rem;
}
.current {
  display: grid;
}
.hidden {
  display: none;
}
.checks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  padding: 1rem 3rem;
}
.fieldsetChecks {
  display: grid;
}
.description {
  width: 80%;
  padding: 0.4rem;
  margin: auto;
  font-size: 1.2rem;
}
.playerNameCheck {
  padding: 0.3rem;
  margin: auto;
}
.endRoundButton {
  margin: 1em auto;
  font-size: 1.2rem;
  background-color: green;
  padding: 1.2em;
  border-radius: 50%;
  box-shadow: 5px 5px 30px red;
  color: goldenrod;
}

.endGameButton {
  margin: 1em auto;
  background-color: red;
  font-size: 1.2rem;
  padding: 1.2em;
  border-radius: 50%;
  box-shadow: 5px 5px 30px green;
  color: goldenrod;
}
.input-players-name {
  background-color: black;
}
.phaseContainer {
  border: 5px solid black;
  border-radius: 2rem;
  padding: 2.5rem;
  background-color: rgb(85, 22, 22);
  color: goldenrod;
}
.newPhase {
  margin: 0.6rem auto;
}
.startButton {
  margin-top: 2rem;
  height: 4rem;
  border-radius: 50%;
  background-color: orange;
  box-shadow: 5px 25px 30px;
}
.input-players-name {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 98%;
  margin: auto;
  background-color: rgb(85, 22, 22);
  color: goldenrod;
  padding-top: 2rem;
  border-radius: 10%;
  border: 5px solid black;
}
#number-of-players {
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
#number-of-phases {
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
